@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #69606d;
}

html,
body {
    height: 100%;
}

#pic2 {
    display: none;
}

#picture2 {
    display: none;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    background-color: #f7f8fa;
}

main {
    max-width: 1366px;
    margin-top: 100px;
}

h1 {
    color: #000;
    font-weight: bolder;
    font-size: 32px;
}

h3 {
    color: #000;
    font-weight: 400;
}

h4 {
    font-size: 15px;
    color: #000;
    font-weight: 400;
}

span {
    color: #50afc0;
    font-weight: bold;
    font-size: 34px;
}

#container {
    display: flex;
    justify-content: space-around;
}

#about-me {
    justify-content: left;
}

#title {
    width: 400px;
}

#description {
    color: #69606d;
    margin-top: 30px;
    width: 550px;
    font-size: 15px;
}

#social-networks {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #b8acbd;
}

svg:hover path {
    fill: #b8acbd;
}

#experience {
    display: flex;
    margin-top: 40px;
    width: 550px;
    justify-content: space-around;
}

#projects {
    width: calc(550px / 2);
}



ul {
    list-style: none;
    margin-top: 10px;
}

li {
    font-size: 15px;
    margin-bottom: 10px;
}

#skills {
    margin-left: 80px;
    width: calc(550px / 2);
}

.item-skill {
    display: inline-block;
    width: max-content;
    font-size: 14px;
    border-radius: 100px;
    padding: 5px 10px;
    background-color: #dcdcdc;
}

#picture {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}


@media screen and (max-width: 414px) {
    main {
        margin-top: 5px;
    }
    
    h1 {
        text-align: center;
        font-size: 44px;
        font-weight: 700;
    }

    span {
        color: #50afc0;
        font-weight: bold;
        font-size: 54px;
    }

    #container {
        display: block;
        margin: 0 auto;
    }

    #about-me {
        margin: 0 auto;
        text-align: center;
        justify-content: center;
    }

    #title {
        margin: 0 5px;
        width: auto;
        text-align: center;
    }

    h3 {
        font-size: 18px;
    }

    #description {
        width: auto;
        margin: 10px 10px;
    }

    #social-networks {
        margin-top: 30px;
    }

    #social-networks a{
        margin: 20px;
    }

    #experience {
        display: block;
        margin-top: 40px;
        width: auto;
        text-align: center;
    }

    #projects {
        width: auto;
    }

    #projects-title {
        font-size: 22px;
        font-weight: 700;
    }

    h4 {
        font-size: 18px;
        color: #000;
        font-weight: 400;
        margin-top: 5px;
    }

    li {
        margin: 20px 10px;
        margin-top: 5px;
    }

    #skills {
        display: block;
        width: auto;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
    .item-skill {
        display: inline-block;
        width: max-content;
        font-size: 14px;
        border-radius: 100px;
        padding: 5px 10px;
        margin: 10px 10px;
        background-color: #dcdcdc;
    }

    #pic {
        display: none;
    }

    #picture {
        display: none;
    }

    #pic2 {
        display: block;
        text-align: center;
        margin-top: 15px;
    }

    #picture2 {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 170px;
        height: 170px;
        border-radius: 100%;
    }
}