@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #69606d;
}

html, body {
    height: 100%;
}

body {
    margin: 0 auto;
    background-color: #FAF9F7;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F8FA;
    padding: 1.25rem 6.25rem;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
    z-index: 100
}

.navbar {
    display: none;
}

 .active {
    font-weight: bold;
 }

strong {
    font-weight: bold;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    color: #50afc0;
}

h2 {
    font-weight: bold;
    margin-bottom: .625rem;
}

h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    color: #50afc0;
}

h5 {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: .625rem;
}

h6 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: .625rem;
}

.company {
    margin-bottom: .375rem; 
}

nav ul {
    display: flex;
    list-style: none;
}   

nav ul li {
    margin-right: 1.875rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9375rem;
}

nav ul li a {
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home {
    margin-top: 4.375rem;
    display: flex;
    padding: 4.6875rem 0;
    justify-content: space-between;
    width: 80%;
    height: 100vh;
}

#home .img-fluid {
    width: 16.875rem;
    height: 16.875rem;
    border-radius: 100%;
}

#home .pic-profile {
    width: 25%;
}

.data-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-profile {
    margin-top: 1.5625rem;
    display: flex;
    justify-content: center;
}

.social-profile a + a {
    margin-left: .625rem;
}

.social-profile i {
    cursor: pointer;
    font-size: 2.25rem;
    color: #b0ac9c;
}

.social-profile img {
    width: 2.125rem;
}

.social-profile a:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.social-profile img:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

.social-profile i:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

#home .biography-profile {
    width: 75%;
    padding-left: 3.125rem;
}

#home .biography-profile p {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    letter-spacing: .0313rem;
}

#home .about-container ul {
    padding-left: 2.5rem;
}

#home .about-container {
    display: flex;
}

#home .about-container ul li {
    margin-bottom: .3125rem;
}

#home .education {
    margin-left: 9.375rem;
}

#home .education ul {
    list-style: none;
    padding-left: 1.25rem;
}

#home .education ul li i {
    margin-right: .625rem;
}

#home .education ul li .description {
    font-size: .875rem;
    padding-left: 1.875rem;
    color: #ADA79A;
    /* margin-top: .3125rem; */
}

#skills {
    background-color: #DEFAED;
    width: 100%;
    height: 100vh;
}

#skills h2 {
    margin-top: 6.25rem;
    margin-bottom: 1.25rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
}

.skills-list i {
    font-size: 4rem;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 33.333333%;
    margin-bottom: 6.25rem
}

.skill p {
    font-size: .875rem;
}

#experiences {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 90%;
    height: 100vh;
}

#experiences > h2 {
    margin-top: 6.25rem;
}

#experiences a {
    text-decoration: none;
}

#experiences a:hover {
    text-decoration: underline;
}

.timeline {
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container-tl {
    padding: .625rem 2.5rem;
    position: relative;
    background-color: inherit;
    width: 37.5rem;
    margin-bottom: 3.125rem;
  }
  
  /* The circles on the timeline */
  .container-tl::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ADA79A;
    border: 4px solid #ADA79A;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: -50%;
  }

  .left::after {
    left: 585px;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content-tl {
    padding: 1.25rem 1.875rem;
    background-color: white;
    position: relative;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  }

  .content-tl .date {
    color: #ADA79A;
    font-size: .875rem;
  }

  .about {
    padding-left: 1.25rem;
    padding-top: .625rem;
  }

  .attributions {
    padding-left: 2.1875rem;
  }

  #projects {
    width: 100%;
    margin-top: 9.375rem;
    /* height: 100vh; */
    background-color: #DEFAED;
  }

  #projects .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  #projects .container > h2 {
    margin-left: 4.375rem;
    margin-top: 6.25rem;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 70%;
    padding-right: 3.125rem;
    margin-top: 9.375rem;
  }

  .project {
    margin-bottom: 3.125rem;
  }
  
 .project a {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: .625rem;
    text-decoration: none;
}

  .project-about {
    display: flex;
    justify-content: space-around;
  }

  .project-about img {
    margin-left: 6.25rem;
  }

  .project-about p {
    width: 100%;
  }

  .btn.btn-sm {
    padding: 5px .4rem 5px .4rem;
    font-size: .6rem;
    border-radius: 0.2rem;
    border: 1px solid #69606d
  }

  .btn-links a {
    text-decoration: none;
  }

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #69606d;
    color: #fff
  }

  .btn:hover .fa-github {
    color: #fff
  }

  #contact {
    height: calc(100vh - 4.375rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .contact-container {
    margin-top: 6.25rem;
    margin-right: 6.25rem;
    display: flex;
    justify-content: space-between;
  }

  #contact h2 {
    margin-top: 6.25rem;
    margin-left: 4.375rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form input {
    margin-bottom: 1.25rem;
    width: 43.75rem;
    padding: .625rem;
    border-radius: .3125rem;
    border: 1px solid;
  }

  form textarea {
    margin-bottom: .625rem;
    padding: .625rem;
    height: 9.375rem;
    border-radius: .3125rem;
    border: 1px solid;
    margin-bottom: 1.25rem;
  }

  form button {
    width: fit-content;
  }

  form button.btn.btn-sm {
    padding: .3125rem .9375rem;
    font-size: .875rem;
  }

  form input:focus {
    outline: #69606d solid .25rem;
  }

  form textarea:focus {
    outline: #69606d solid .25rem;
  }

  #end {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEFAED;
    width: 100%;
    height: 20vh;
    font-size: .875rem;
  }

  .up {
    position: relative;
    top: 20px;
    left: 500px;
    font-size: 1.75rem;
    cursor: pointer;
  }

  @media screen and (max-width: 1024px) {

    #home {
        height: auto
    }

    #home .biography-profile {
        padding-left: 6.25rem;
    }

    #home .about-container {
        white-space: nowrap;
    }

    #home .education {
        margin-left: 1.5625rem;
    }

    .data-profile {
        white-space: nowrap;
        margin-left: 3.125rem
    }

    .social-profile {
        margin-left: 3.125rem
    }

    #skills {
        height: auto;
    }

    .skill p {
        text-align: center;
    }

    #experiences {
        height: auto;
        margin-bottom: 0;
    }

    .timeline {
        max-width: 64rem;
    }

    .left::after {
        left: 435px;
      }

    .container-tl {
        width: 27.5rem;
      }

      #contact {
        height: 40vh;
      }

      #end {
        height: 10vh;
      }

      .up {
        left: 380px;
      }
  }

  @media screen and (max-width: 768px) {
    header {
        justify-content: center;
        padding: 0 .625rem;
        position: block;
        flex-direction: column;
    }

    header > h1 {
        display: none;
    }

    nav {
        display: none;
    }

    h1 {
        font-size: 1.375rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    h6 {
        font-size: .875rem;
    }

    .navbar {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .links-menu {
        display: none;
    }

    .links-menu {
        background-color: #F7F8FA;
        display: flex;
        flex-direction: column;
    }

    .heading {
        position: relative;
        right: 350px;
        top: 23px;
    }

    .links-menu a {
        padding: 10px 16px;
        text-decoration: none;
        margin-top: .625rem;
        font-size: 17px;
        display: block;
        position: relative;
        right: 300px;
    }

    #home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #home .pic-profile {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #home .biography-profile {
        width: 100%;
        padding: 0 1.875rem;
    }

    .data-profile {
        white-space: nowrap;
        margin-left: 0;
    }

    .social-profile {
        margin-left: 0;
        margin-right: 0;
    }

    .social-profile a {
        margin-left: 0;
    }

    .social-profile i {
        font-size: 2rem;
    }

    .social-profile img {
        width: 1.875rem;
    }

    #home {
        height: 80vh;
    }

    #home .biography-profile p {
        font-size: .875rem;
        line-height: 1.5625rem;
    }

    #home .about-container {
        font-size: .75rem;
    }

    #home .education {
        margin-left: 6.25rem;
    }

    #home .education ul li .description {
        font-size: .75rem;
    }

    #experiences {
        flex-direction: column;
    }

    #skills {
        height: auto;
    }

    #skills h2 {
        margin-top: 3.125rem;
    }

    .skills-list {
        display: flex;
        justify-content: space-around;
        width: 99%;
        flex-wrap: wrap;
    }

    .skills-list i {
        font-size: 3rem;
    }

    .skill p {
        font-size: .75rem;
    }

    #experiences {
        margin-top: 3.125rem;
        height: 60vh;
    }

    .timeline {
        max-width: 48rem;
    }

    .timeline::after {
        left: 15px;
        margin-left: 0;
    }

    .container-tl {
        width: 100%;
    }

    .right::after {
        left: -10px
    }

    .left::after {
        left: -10px;
    }

    .right {
        left: 10px;
    }

    .left {
        left: 10px;
    }

    .company {
        font-size: .875rem;
    }

    .content-tl .date {
        font-size: .75rem;
    }

    .about {
        font-size: .75rem;
    }

    .attributions {
        font-size: .75rem;
    }

    #projects {
        width: 100%;
    }

    #projects .container {
        flex-direction: column;
        justify-content: none;
        align-items: none;
        width: 95%;
    }

    #projects .container > h2 {
        margin-left: 2.5rem;
    }

    .projects-container {
        width: 100%;
        margin-left: 1.25rem;
        margin-top: .625rem;
    }

    .project a {
        font-size: 1.125rem;
    }

    .project-about p {
        font-size: .875rem;
    }

    #contact {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;
    }

    .contact-container {
        margin: .625rem auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contact h2 {
        margin-top: 3.125rem;
        margin-left: 2.5rem;
    }

    .up {
        left: 12.5rem
    }
  }

  @media screen and (max-width: 600px) {
    .heading {
        left: -270px
    }

    .links-menu a {
        left: -220px
    }

    #home {
        height: auto;
    }

    #home .img-fluid {
        margin-top: 0;
       width: 12.5rem;
       height: 12.5rem; 
    }

    #skills {
        height: auto;
    }

    #experiences {
        height: auto;
    }

    form input {
        width: 31.25rem;
    }
  }

  @media screen and (max-width: 450px) {
    .heading {
        left: -160px
    }

    .links-menu a {
        left: -110px
    }

    #home .about-container {
        flex-direction: column;
    }

    #home .education {
        margin-top: 1.875rem;
        margin-left: 0;
    }

    .skills-list {
        flex-direction: column;
        justify-content: start;
    }

    .skill {
        margin-bottom: 2.1875rem;
    }

    #projects .container {
        width: 95%;
    }

    #projects .container > h2 {
        margin-top: 3.125rem;
    }

    .project-about {
        margin-bottom: .625rem;
    }

    .project-about p {
        font-size: 0.8rem;
    }

    .project-about img {
        max-width: 5rem;
        height: 3.125rem;
        margin-left: 1.25rem;
    }

    #contact {
        width: 100%;
    }

    .contact-container {
        width: 100%;
    }

    form {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    form input {
        width: 95%;
    }

    form textarea {
        width: 95%;
    }

    .up {
        left: 3.125rem
    }
  }

  @media screen and (max-width: 320px) {
    .heading {
        left: -130px;
    }

    .links-menu a {
        left: -80px
    }
  }