@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #69606d;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    font-size: 15px;
    color: #000;
    font-weight: 400;
}

.selected {
    color: #50afc0;
}

#pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.044rem;
}

#pic a {
    font-weight: bold;
}

#pic2 {
    display: none;
}

#picture2 {
    display: none;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    background-color: #f7f8fa;
}

main {
    max-width: 1366px;
    margin-top: 30px;
}

h1 {
    color: #000;
    font-weight: bolder;
    font-size: 32px;
}

h3 {
    color: #000;
    font-weight: 400;
}

h4 {
    font-size: 15px;
    color: #000;
    font-weight: 400;
}

h5 {
    font-size: 13px;
    color: #000;
    font-weight: 400;
}

span {
    color: #50afc0;
    font-weight: bold;
    font-size: 34px;
}

#container {
    display: flex;
    justify-content: space-around;
}

#about-me {
    justify-content: left;
    margin-bottom: 20px;
}

#title {
    width: 400px;
}

#description {
    color: #69606d;
    margin-top: 15px;
    /* margin-bottom: 15px; */
    width: 550px;
    font-size: 15px;
    line-height: 1.3rem;
    letter-spacing: 0.044rem;
}

#social-networks {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#social-networks a + a {
    margin-left: 3px;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

#experience {
    display: flex;
    margin-top: 40px;
    width: 550px;
    justify-content: space-around;
}

#experience ul li {
    font-size: 15px;
}

#projects {
    width: calc(550px / 2);
}

ul {
    list-style: none;
    margin-top: 10px;
}

li {
    font-size: 15px;
    margin-bottom: 10px;
    letter-spacing: 0.044rem;
}

#skills {
    margin-left: 80px;
    width: calc(550px / 2);
}

.item-skill {
    display: inline-block;
    width: max-content;
    font-size: 14px;
    border-radius: 100px;
    padding: 5px 10px;
    background-color: #dcdcdc;
}

#picture {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

hr {
    margin-bottom: 10px;
}

.resume-li li {
    font-size: 15px;
    margin-bottom: 0;
}

@media screen and (max-width: 414px) {
    header {
        display: flex;
        justify-content: center;
    }
    nav ul {
        text-align: center;
    }
    nav ul li {
        margin-left: 20px
    }
    nav ul li a {
        font-size: 15px;
        color: #000;
        font-weight: 400;
    }
    main {
        margin-top: 5px;
    }
    h1 {
        text-align: center;
        font-size: 44px;
        font-weight: 700;
    }
    span {
        color: #50afc0;
        font-weight: bold;
        font-size: 54px;
    }
    #container {
        display: block;
        margin: 0 auto;
    }
    #about-me {
        margin: 0 auto;
        text-align: center;
        justify-content: center;
    }
    #title {
        margin: 0 5px;
        width: auto;
        text-align: center;
    }
    h3 {
        font-size: 18px;
    }
    #description {
        width: auto;
        margin: 10px 10px;
    }
    #social-networks {
        margin-top: 5px;
    }
    #social-networks a {
        margin: 5px;
    }
    #experience {
        display: block;
        margin-top: 40px;
        width: auto;
        text-align: center;
    }
    #projects {
        width: auto;
    }
    #projects-title {
        font-size: 22px;
        font-weight: 700;
    }
    h4 {
        font-size: 18px;
        color: #000;
        font-weight: 400;
        margin-top: 5px;
    }
    li {
        margin: 20px 10px;
        margin-top: 5px;
    }
    #skills {
        display: block;
        width: auto;
        text-align: center;
        margin: 0 10px;
        margin-bottom: 10px;
    }
    .item-skill {
        display: inline-block;
        width: max-content;
        font-size: 14px;
        border-radius: 100px;
        padding: 5px 10px;
        margin: 5px 5px;
        background-color: #dcdcdc;
    }
    #pic {
        display: none;
    }
    #picture {
        display: none;
    }
    #pic2 {
        display: block;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 1.25rem;
    }

    #pic2 a {
        font-weight: bold;
    }

    #picture2 {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 170px;
        height: 170px;
        border-radius: 100%;
    }
    hr {
        margin-bottom: 10px;
    }
    .resume-li li {
        font-size: 15px;
        margin-bottom: 0;
    }
}