@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #69606d;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    font-size: 15px;
    color: #000;
    font-weight: 400;
}

.selected {
    color: #50afc0;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    background-color: #f7f8fa;
}

main {
    max-width: 1366px;
    margin-top: 30px;
}

h1 {
    color: #000;
    font-weight: 700;
    font-size: 22px;
}

h3 {
    color: #000;
    font-weight: 400;
}

h4 {
    font-size: 15px;
    color: #000;
    font-weight: 400;
}

#container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 45%;
    border: 1px solid #dcdcdc;
    height: 500px;
    border-radius: 2%;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, .15)!important;
}

.card img {
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 2% 2% 0 0;
    height: 258px;
}

.card .content {
    margin: 10px;
}

.card .content .subscription {
    width: 100%;
}

.card .content hr {
    margin-top: 10px;
    border: 1px solid #dcdcdc;
}

.card .content ul {
    display: flex;
    flex-wrap: wrap;
}

.card .content ul li {
    font-weight: bold;
    border: 1px solid #69606d;
    display: inline-block;
    width: max-content;
    border-radius: 10%;
    padding: 5px 10px;
    margin: 5px 5px;
}

.card .access {
    background-color: #dcdcdc;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    width: 100%;
    position: absolute;
    bottom: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    opacity: 0.5;
}

ul {
    list-style: none;
    margin-top: 10px;
}

li {
    font-size: 15px;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 10px;
}

@media screen and (max-width: 414px) {
    header {
        display: flex;
        justify-content: center;
    }
    nav ul {
        text-align: center;
    }
    nav ul li {
        margin-left: 30px
    }
    nav ul li a {
        font-size: 15px;
        color: #000;
        font-weight: 400;
    }
    main {
        margin-top: 5px;
        text-align: center;
    }
    h1 {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
    #container {
        justify-content: center;
        margin: 0 auto;
    }
    .card {
        width: 90%;
    }
    .card img {
        width: 100%;
        border-bottom: 1px solid #dcdcdc;
        border-radius: 2%;
    }
    .card .content {
        margin: 10px;
    }
    .card .content .subscription {
        width: 100%;
    }
    .card .content ul {
        display: flex;
        justify-content: center;
    }
    .card .content ul li {
        font-weight: bold;
        border: 1px solid #69606d;
        justify-content: center;
        width: max-content;
        border-radius: 10%;
        padding: 5px 10px;
        margin: 5px 5px;
    }
    .card .access {
        display: flex;
        justify-content: center;
        background-color: #dcdcdc;
        text-align: center;
        padding: 10px 0;
        font-weight: bold;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    #title {
        margin: 0 5px;
        width: auto;
        text-align: center;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 18px;
        color: #000;
        font-weight: 400;
        margin-top: 5px;
    }
    li {
        margin: 20px 10px;
        margin-top: 5px;
    }
    hr {
        margin-bottom: 10px;
    }
}